/* import statements */
@import url('https://unpkg.com/xp.css@/dist/98.css');
@import url('../textfonts.css');

/* link and text formatting setup */
A:link { 
	text-decoration: underline; 
	color: white; 
}

A:visited { 
	text-decoration: underline; 
	color: white; 
}

A:active { 
	text-decoration: underline; 
	color: white; 
}

A:hover { 
	text-decoration: underline; 
	color:#0000ff;
}

h1 {
	font-family: arial;
	color: #6600ff 
}

p {
	font-family: "chaparral-pro", serif;
	font-weight: 400;
	font-style: normal;
	/* color: #FFFFFF; */
	margin-top: 0px;
}

/* overall index page setup */
#index-page {
	h1 {
		font-family: "cc-flame-on", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 3.38vw;
		color: #FFFFFF;
		margin-bottom: 0px;
	}
	
	h2 {
		font-family: "cc-monstrosity-hide", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 3.38vw;
		color: black;
		margin-bottom: 0px;
	}
	
	cursor: url('../graphics/index/hottie-0.gif'), auto;
	-webkit-ind-animation: cursor 400ms infinite;
	animation: cursor 400ms infinite;
	
	/* rendering makes the page look retro */
	image-rendering: pixelated;
}

@-webkit-ind-keyframes cursor {
  0% {cursor: url('../graphics/index/hottie-0.gif'), auto;}
  100% {cursor: url('../graphics/index/hottie-1.gif'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('../graphics/index/hottie-0.gif'), auto;}
  100% {cursor: url('../graphics/index/hottie-1.gif'), auto;}
}

body::before {
      content: "";
      position: fixed; /* Keeps it fixed even on iOS */
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("../graphics/index_background.jpg"); /* Replace with your image */
      background-size: cover;
      background-position: center;
      z-index: -1; /* Pushes it behind everything else */
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.loader {
	display: block;
	background-image: url('../graphics/frog_loader.gif');
	width: 5.2vw;
	height: 3.9vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 4.16vw;
	animation: loader 0.9s infinite ease;
}

@keyframes loader {
	0% { transform: translateX(0px);}
	7% { transform: translateX(-1.56vw);}
	14% { transform: translateX(-2.6vw);}
	21% { transform: translateX(-4.16vw);}
	28% { transform: translateX(-5.72vw);}
	35% { transform: translateX(-6.24vw);}
	42% { transform: translateX(-6.76vw);}
	49% { transform: translateX(-7.28vw);}
	56% { transform: translateX(-7.8vw);}
	63% { transform: translateX(-7.8vw);}
	70% { transform: translateX(-7.8vw);}
	77% { transform: translateX(-7.8vw);}
	84% { transform: translateX(-7.8vw);}
	91% { transform: translateX(-3.12vw);}
	100% { transform: translateX(0px);}
}

.content {
	display: block;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.center.block1 {
	background-image: url('../graphics/index/oceanwave.gif');
	text-align: center;
	vertical-align: center;
	/* border: 3px solid white; */
	/* padding-bottom: 20px; */
	width: 70vw;
	height: 20vw;
	color: white;
}

#head-bloc {
	height: 4.16vw;
}

#navigation-panel {
	/* position: relative; */
	left: 0px;
	top: 0px;
	margin-top: 1.04vw;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	float: none;
	/* max-width: 1920px; */
	width: 70vw;
}
}

#welcome-text {
	left: 50%;
}

#hot-not-table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#nav-table {
	vertical-align: top;
	
	td, th { /* table cells */
		padding: .52vw;
	}
}

#chumbox {
	left: 0px;
	bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	float: none;
	width: 100%;
}

#chumbox-table {
	width: 100%;
	
	td, th {
		/* max-width: 20%; */
		padding: 0px;
	}
	
	tr.id-1 {
		img {
			height: 10vw;
			width: 100%;
			background-size: contain;
			padding: 0px;
		}
	}
	
	tr.id-2 {
		img {
			height: 3vw;
			width: 100%;
			background-size: contain;
			padding: 0px;
		}
	}
	
}

.graphic {
	display: block;
	position: absolute;
	left: 50%;
	background-repeat: no-repeat;
	background-origin: content-box;
}

.graphic.id-1 {
	background-image: url('../graphics/index/stars.gif');
	width: 1.04vw;
	height: 4.368vw;
	z-index: 999;
}

.graphic.id-1.a {
	margin-left: -16.9vw;
	top: 200px;
}

.graphic.id-1.b {
	margin-left: -12.22vw;
	top: 13.52vw;
}

.graphic.id-2 {
	background-image: url('../graphics/index/Stars(1).gif');
	width: 1.56vw;
	height: 4.368vw;
	margin-left: -6.76vw;
	top: 11.96vw;
	z-index: 999;
}

.graphic.id-3 {
	background-image: url('../graphics/index/stars2.gif');
	/* width: 3.12vw; */
	background-size: contain;
	width: 4vw;
	height: 4.368vw;
	margin-left: -2.6vw;
	top: 6.76vw;
	z-index: 999;
}

.graphic.id-4 {
	background-image: url('../graphics/index/starsg.gif');
	background-size: contain;
	width: 1.56vw;
	height: 4.368vw;
	margin-left: 5vw;
	top: 16vw;
}

.graphic.id-5 {
	background-image: url('../graphics/index/twinkystarsred.gif');
	background-size: contain;
	width: 2.08vw;
	height: 17.056vw;
}

.graphic.id-5.a {
	margin-left: 28vw;
	top: 16vw;
}

.graphic.id-5.b {
	margin-left: 27.25vw;
	top: 13vw;
}

.graphic.id-5.c {
	margin-left: 28.75vw;
	top: 13vw;
}

.graphic.id-5.d {
	margin-left: 28vw;
	top: 9.5vw;
}

.graphic.id-6 {
	background-image: url('../graphics/index/flamNEW.gif');
	background-size: contain;
	width: 5.824vw;
	height: 3.536vw;
	margin-left: 4.5vw;
	left: 50%;
	top: 9vw;
}

.graphic.id-7 {
	background-image: url('../graphics/index/moon.gif');
	background-size: contain;
	width: 5.2vw;
	height: 5.2vw;
	margin-left: 7.8vw;
	left: 50%;
	top: 6.24vw;
}

.graphic.id-8 {
	background-image: url('../graphics/index/Twinkle.gif');
	background-size: 16.64vw 10.4vw;
	background-repeat: repeat;
	width: 100%;
	height: 15.6vw;
	margin-left: -50%;
	left: 50%;
	top: 5.2vw;
	z-index: -1;
}

.graphic.id-9 {
	background-image: url('../graphics/index/x-hikashi3.gif');
	background-size: contain;
	position: fixed;
	width: 3.068vw;
	height: 1.248vw;
	margin-top: -1.56vw;
	left: 95%;
	top: 100%;
}


/* too much stuff if the screen is small, so i hide it */
@media only screen and (max-width: 1050px) {
	.graphic.id-1.a {
		display: none;
	}
	.graphic.id-1.b {
		display: none;
	}
	.graphic.id-2 {
		display: none;
	}
	.graphic.id-3 {
		display: none;
	}
	.graphic.id-4 {
		display: none;
	}
	.graphic.id-5.a {
		display: none;
	}
	.graphic.id-5.b {
		display: none;
	}
	.graphic.id-5.c {
		display: none;
	}
	.graphic.id-5.d {
		display: none;
	}
	.graphic.id-6 {
		display: none;
		/* top: 15vw; */
	}
	.graphic.id-7 {
		display: none;
	}
}

.btn-mobile {
	width: 10.4vw;
	height: 2.288vw;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 21vw; /*5.72*/
	left: 1vw; /*0.52*/
	z-index: 999;
	background-image: url('../graphics/index/button_mobile.gif');
	background-size: 10.4vw 2.288vw;
}

.btn-audio {
	width: 4.16vw;
	height: 4.16vw;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 21vw;
	right: 1vw;
	z-index: 999;
	background-image: url('../graphics/index/ico-audio.png');
	background-size: 4.16vw;
}

.btn-trick {
	width: 8.6vw;
	height: 6vw;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 24vw;
	left: 1vw;
	z-index: 999;
	background-image: url('../graphics/index/click.gif');
	background-size: 8.6vw 6vw;
}

.btn-virus {
	width: 11.4vw;
	height: 7.5vw;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 33vw;
	left: 1vw;
	z-index: 999;
	background-image: url('../graphics/index/antivirus.gif');
	background-size: 11.4vw 7.5vw;
}

.btn-audio.is-inactive {
	background-position: 0 -4.16vw;
	background-position-x: 0px;
	background-position-y: -4.16vw;
}

.btn-audio.is-active {
	background-position: 0 0;
	background-position-x: 0px;
	background-position-y: 0px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background-color: white; */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
	/* border-radius: 0px; */
	/* padding: 20px; */
	text-align: center;
	display: none;
	z-index: 1000;
}

.popup h2 {
	margin: 0 0 10px;
}

.got-em {
	width: 32vw; 
	height: 24vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 999;
}

.popup-trigger {
            cursor: pointer;
            width: 100px;
            height: auto;
        }
	

#container {
	width: 100%;
	height: 3.64vw;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	white-space: nowrap;
	background: #000;
	color: #fff;
}

#container2 {
	width: 100%;
	height: 1.56vw;
	position: absolute;
	top: 3.64vw;
	left: 0px;
	overflow: hidden;
	white-space: nowrap;
	background: #000;
	color: #fff;
}

#container .scroll {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 210%;
	white-space: nowrap;
	animation: loop 30s linear infinite;
}

#container2 .scroll2 {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 212%;
	white-space: nowrap;
	animation: loop 18s linear infinite;
}

@keyframes loop {
	0% {transform: translateX(0%);}
	100% {transform: translateX(-50%);}
}

@keyframes pan {
	0% {transform: 0% 0%;}
	100% {transform: 100% 0%;}
}

.guadalupe-gif {
	display: flex;
	align-items: center;
	color: #09009C;
	background-color: #09009C;
	white-space: nowrap;
	background-image: url('../graphics/index/virgencita.gif');
	background-position: center;
	background-size: 2.25vw 3.64vw;
	background-repeat: repeat-x;
	width: 100%;
	height: 3.64vw;
	left: 0px;
	top: 0px;
}

.desafio-gif {
	display: flex;
	position: absolute;
	color: #e2e8f0;
	background-color: #000000;
	white-space: nowrap;
	background-image: url('../graphics/index/desafio.gif');
	background-position: center;
	background-size: 20.8vw 1.144vw;
	background-repeat: repeat-x;
	width: 100%;
	height: 1.56vw;
	left: 0px;
	top: 0px;
}


.center-block-text {
	color: #FFFFFF;
	font-size: 2vw;
}


.pokemon-inline {
	width: 5vw;
}

.new-inline {
	width: 7vw;
}

/* this is for phone formatting (assuming that displays don't advance to have more than 600 pixel widths) */
@media (max-width: 600px) {
	.btn-mobile {
		display: none;
	}
	
	.btn-audio {
		display: none;
	}
	
	.btn-trick {
		display: none;
	}
	
	.btn-virus {
		display: none;
	}	
	.center.block1 {
		width: 100%;
		height: 30vw;
	}
	
	#navigation-panel {
		width: 90%;
	}
	
	#container {
		height: 15vw;
	}
	
	#container2 {
		top: 16vw;
	}
	
	.guadalupe-gif {
		background-size: 8vw 15vw;
		background-repeat: repeat-x;
		height: 15vw;
	}
	
	.graphic.id-8 {
		top: 16vw;
	}	
	
	.content {
		margin-top: 10vw;
	}
	
	.seasonal {
		padding: 0;
		background-size: 90vw 90vw;
		width: 90vw;
		height: 90vw;
	}
	.seasonal-text {
		font-size: 3vw;
		padding: 10vw;
		padding-bottom: 0vw;
	}
	
	.virgen-stamp {
		width: 20vw;
	}
	
	.text-myth-fables {
		font-size: 2.5vw;
	}
	
	.pokemon-inline {
		width: 10vw;
	}

	.new-inline {
		width: 14vw;
	}
}
