@import url('https://use.typekit.net/qkd0qog.css');

.text-pixel-arcade {
	/* display: block; */
	font-family: "cc-pixel-arcade-cartridge", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center; 
	vertical-align: middle; 
	padding: 0;
}

.text-flame-nova {
	/* display: block; */
	font-family: "cc-flame-on-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center; 
	vertical-align: middle; 
	padding: 0;
}

.text-myth-fables {
	/* display: block; */
	font-family: "cc-near-myth-fables", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	/* color: #FFFFFF; */
	text-align: center; 
	vertical-align: middle; 
	padding: 0;
	z-index: 10;
}

.text-monstrocity {
	/* display: block; */
	font-family: "cc-monstrosity-hide", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center; 
	vertical-align: middle; 
	padding: 0;
}

.Chaparral-Pro-Regular {
	font-family: "chaparral-pro", serif;
	font-weight: 400;
	font-style: normal;
}

.Chaparral-Pro-Italic {
	font-family: "chaparral-pro", serif;
	font-weight: 400;
	font-style: italic;
}

.Chaparral-Pro-Bold {
	font-family: "chaparral-pro", serif;
	font-weight: 700;
	font-style: normal;
}

.Chaparral-Pro-Bold-Italic {
	font-family: "chaparral-pro", serif;
	font-weight: 700;
	font-style: italic;
}

.Chaparral-Pro-Caption {
	font-family: "chaparral-pro-caption", serif;
	font-weight: 400;
	font-style: normal;
}

.Chaparral-Pro-Italic-Caption {
	font-family: "chaparral-pro-caption", serif;
	font-weight: 400;
	font-style: italic;
}

.Chaparral-Pro-Bold-Caption {
	font-family: "chaparral-pro-caption", serif;
	font-weight: 700;
	font-style: normal;
}

.Chaparral-Pro-Bold-Italic-Caption {
	font-family: "chaparral-pro-caption", serif;
	font-weight: 700;
	font-style: italic;
}

.Chaparral-Pro-Display {
	font-family: "chaparral-pro-display", serif;
	font-weight: 400;
	font-style: normal;
}

.Chaparral-Pro-Italic-Display {
	font-family: "chaparral-pro-display", serif;
	font-weight: 400;
	font-style: italic;
}

.Chaparral-Pro-Bold-Display {
	font-family: "chaparral-pro-display", serif;
	font-weight: 700;
	font-style: normal;
}

.Chaparral-Pro-Bold-Italic Display {
	font-family: "chaparral-pro-display", serif;
	font-weight: 700;
	font-style: italic;
}

.Chaparral-Pro-Subhead {
	font-family: "chaparral-pro-subhead", serif;
	font-weight: 400;
	font-style: normal;
}

.Chaparral-Pro-Italic-Subhead {
	font-family: "chaparral-pro-subhead", serif;
	font-weight: 400;
	font-style: italic;
}

.Chaparral-Pro-Bold-Subhead {
	font-family: "chaparral-pro-subhead", serif;
	font-weight: 700;
	font-style: normal;
}

.Chaparral-Pro-Bold-Italic-Subhead {
	font-family: "chaparral-pro-subhead", serif;
	font-weight: 700;
	font-style: italic;
}

/* @media screen  */
/* and (min-device-width: 1200px)  */
/* and (-webkit-min-device-pixel-ratio: 1) { */
A:link { 
	text-decoration: underline; 
	color: white; 
}

A:visited { 
	text-decoration: underline; 
	color: white; 
}

A:active { 
	text-decoration: underline; 
	color: white; 
}

A:hover { 
	text-decoration: underline; 
	color:#0000ff;
}

h1 {
	font-family: arial;
	color: #6600ff 
}

p {
	font-family: "chaparral-pro", serif;
	font-weight: 400;
	font-style: normal;
	/* color: #FFFFFF; */
	margin-top: 0px;
}

#index-page {
	h1 {
		font-family: "cc-flame-on", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65px;
		color: #FFFFFF;
		margin-bottom: 0px;
	}
	
	cursor: url('https://idylladrian.github.io/graphics/hottie-0.gif'), auto;
	-webkit-ind-animation: cursor 400ms infinite;
	animation: cursor 400ms infinite;

	/* background: #00018E; */
	/* background-image: url('https://idylladrian.github.io/graphics/index_background.jpg'); */
	/* background-repeat: no-repeat; */
	/* background-position-x: center; */
	/* background-position-y: top; */
	/* background-attachment: fixed; */
	
	image-rendering: pixelated;
	/* overflow: hidden; */
}

@-webkit-ind-keyframes cursor {
  0% {cursor: url('https://idylladrian.github.io/graphics/hottie-0.gif'), auto;}
  100% {cursor: url('https://idylladrian.github.io/graphics/hottie-1.gif'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('https://idylladrian.github.io/graphics/hottie-0.gif'), auto;}
  100% {cursor: url('https://idylladrian.github.io/graphics/hottie-1.gif'), auto;}
}

body::before {
      content: "";
      position: fixed; /* Keeps it fixed even on iOS */
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url('https://idylladrian.github.io/graphics/index_background.jpg'); /* Replace with your image */
      background-size: cover;
      background-position: center;
      z-index: -1; /* Pushes it behind everything else */
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.loader {
	display: block;
	background-image: url('https://idylladrian.github.io/graphics/frog_loader.gif');
	width: 100px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 75px;
	animation: loader 0.9s infinite ease;
}

@keyframes loader {
	0% { transform: translateX(0px);}
	7% { transform: translateX(-30px);}
	14% { transform: translateX(-50px);}
	21% { transform: translateX(-80px);}
	28% { transform: translateX(-110px);}
	35% { transform: translateX(-120px);}
	42% { transform: translateX(-130px);}
	49% { transform: translateX(-140px);}
	56% { transform: translateX(-150px);}
	63% { transform: translateX(-150px);}
	70% { transform: translateX(-150px);}
	77% { transform: translateX(-150px);}
	84% { transform: translateX(-150px);}
	91% { transform: translateX(-60px);}
	100% { transform: translateX(0px);}
}

.content {
	display: block;
}

/* @keyframes loader {
	0% { transform: rotate(0deg);}
	25% { transform: rotate(180deg);}
	50% { transform: rotate(180deg);}
	75% { transform: rotate(360deg);}
	100% { transform: rotate(360deg);}
} */

.center {
	margin-left: auto;
	margin-right: auto;
}

.center.block1 {
	background: rgba(245, 66, 144, 0.3);
	text-align: center;
	vertical-align: center;
	border: 3px solid white;
	/* padding-bottom: 20px; */
	width: 1000px;
	color: white;
}

#head-bloc {
	height: 80px;
}

#navigation-panel {
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	float: none;
	max-width: 1920px;
	width: 1000px;
}

#welcome-text {
	left: 50%;
}

#hot-not-table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#nav-table {
	vertical-align: top;
}

.graphic {
	display: block;
	position: absolute;
	left: 50%;
	background-repeat: no-repeat;
	background-origin: content-box;
}

.graphic.id-1 {
	background-image: url('https://idylladrian.github.io/graphics/stars.gif');
	width: 20px;
	height: 84px;
	z-index: 999;
}

.graphic.id-1.a {
	margin-left: -325px;
	top: 200px;
}

.graphic.id-1.b {
	margin-left: -235px;
	top: 260px;
}

.graphic.id-2 {
	background-image: url('https://idylladrian.github.io/graphics/Stars(1).gif');
	width: 30px;
	height: 84px;
	margin-left: -130px;
	top: 230px;
	z-index: 999;
}

.graphic.id-3 {
	background-image: url('https://idylladrian.github.io/graphics/stars2.gif');
	width: 60px;
	height: 84px;
	margin-left: -50px;
	top: 130px;
	z-index: 999;
}

.graphic.id-4 {
	background-image: url('https://idylladrian.github.io/graphics/starsg.gif');
	width: 30px;
	height: 84px;
	margin-left: 65px;
	top: 240px;
}

.graphic.id-5 {
	background-image: url('https://idylladrian.github.io/graphics/twinkystarsred.gif');
	width: 20px;
	height: 164px;
}

.graphic.id-5.a {
	margin-left: 400px;
	top: 240px;
}

.graphic.id-5.b {
	margin-left: 392px;
	top: 200px;
}

.graphic.id-5.c {
	margin-left: 408px;
	top: 200px;
}

.graphic.id-5.d {
	margin-left: 402px;
	top: 155px;
}

.graphic.id-6 {
	background-image: url('https://idylladrian.github.io/graphics/flamNEW.gif');
	width: 56px;
	height: 34px;
	margin-left: 75px;
	left: 50%;
	top: 170px;
}

.graphic.id-7 {
	background-image: url('https://idylladrian.github.io/graphics/moon.gif');
	width: 100px;
	height: 100px;
	margin-left: 150px;
	left: 50%;
	top: 120px;
}

.graphic.id-8 {
	background-image: url('https://idylladrian.github.io/graphics/Twinkle.gif');
	background-size: 320px 200px;
	background-repeat: repeat;
	width: 100%;
	height: 300px;
	margin-left: -50%;
	left: 50%;
	top: 100px;
	z-index: -1;
}

.graphic.id-9 {
	background-image: url('https://idylladrian.github.io/graphics/x-hikashi3.gif');
	position: fixed;
	width: 59px;
	height: 24px;
	margin-top: -30px;
	left: 95%;
	top: 100%;
}

.graphic.id-10 {
	background-image: url('https://idylladrian.github.io/graphics/fire.gif');
	background-repeat: repeat-x;
	position: relative;
	width: 100%;
	height: 50px;
	left: 0px;
}

@media only screen and (max-width: 1150px) {
	.graphic.id-9 {
		display: none;
	}
}

@media only screen and (max-width: 1050px) {
	.graphic.id-1.a {
		display: none;
	}
	.graphic.id-1.b {
		display: none;
	}
	.graphic.id-2 {
		display: none;
	}
	.graphic.id-3 {
		display: none;
	}
	.graphic.id-4 {
		display: none;
	}
	.graphic.id-5.a {
		display: none;
	}
	.graphic.id-5.b {
		display: none;
	}
	.graphic.id-5.c {
		display: none;
	}
	.graphic.id-5.d {
		display: none;
	}
	.graphic.id-6 {
		display: none;
	}
	.graphic.id-7 {
		display: none;
	}
}

.btn-mobile {
	width: 100px;
	height: 22px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 110px;
	left: 10px;
	z-index: 999;
	background-image: url('https://idylladrian.github.io/graphics/button_mobile.gif');
	background-size: 100px 22px;
}

.btn-audio {
	width: 40px;
	height: 40px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 110px;
	right: 10px;
	z-index: 999;
	background-image: url('https://idylladrian.github.io/graphics/ico-audio.png');
	background-size: 40px;
}

.btn-audio.is-inactive {
	background-position: 0 -40px;
	background-position-x: 0px;
	background-position-y: -40px;
}

.btn-audio.is-active {
	background-position: 0 0;
	background-position-x: 0px;
	background-position-y: 0px;
}

#container {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	white-space: nowrap;
	background: #000;
	color: #fff;
}

#container2 {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 70px;
	left: 0px;
	overflow: hidden;
	white-space: nowrap;
	background: #000;
	color: #fff;
}

#container .scroll {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 210%;
	white-space: nowrap;
	animation: loop 20s linear infinite;
}

#container2 .scroll2 {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 212%;
	white-space: nowrap;
	animation: loop 18s linear infinite;
}

@keyframes loop {
	0% {transform: translateX(0%);}
	100% {transform: translateX(-50%);}
}
.guadalupe-roll {
	display: flex;
	align-items: center;
	color: #e2e8f0;
	background-color: #152c41;
	/* padding: 0.7rem 1rem; */
	/* margin: 0rem 1rem; */
	white-space: nowrap;
	background-image: url('https://idylladrian.github.io/graphics/guadalupe-small.png');
	background-position: center;
	background-size: 200px 70px;
	background-repeat: repeat-x;
	width: 100%;
	height: 70px;
	left: 0px;
	top: 0px;
}

.gracias-roll {
	display: flex;
	position: absolute;
	color: #e2e8f0;
	background-color: #000000;
	/* padding: 0.7rem 1rem; */
	/* margin: 0rem 1rem; */
	white-space: nowrap;
	background-image: url('https://idylladrian.github.io/graphics/bendiga.png');
	background-position: center;
	background-size: 400px 22px;
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
	left: 0px;
	top: 0px;
}

.seasonal {
	margin-left: auto;
	margin-right: auto;
	background: rgba(245, 66, 144, 0.3);
	
	padding: 200px;
	padding-top: 400px;
	width: 600px; /* Set width of the <div> */
	height: 600px; /* Set height of the <div> */
	background-image: url('https://idylladrian.github.io/graphics/winter.jpeg'); /* Replace with your image URL */
	background-repeat: no-repeat; /* Prevent tiling of the image */
	background-size: 800px 800px; /* Ensure the image covers the <div> */
	background-position: center; /* Center the image */
	
	border: 3px solid white;

}

.center-block-text {
	color: #FFFFFF;
}

.seasonal-text {
	font-family: "chaparral-pro", serif;
	font-weight: 400;
	font-style: normal;
	color: #0000ff;
	margin-top: 0px;
}

.virgen-stamp {
	width: 100px;
	display: block; /* Ensures the image behaves like a block element */
	margin-left: auto;
	margin-right: auto;
}

/* } */