@media screen 
and (min-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 1) {
	#blog-post {
		h1 {
			font-family: Times New Roman, serif;
			font-weight: normal;
			font-size: 40px;
			color: #000000; 
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
		h2 {
			font-family: Times New Roman, serif;
			color: #000000;
			font-weight: normal;
			font-size: 30px;
		}
		
		cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;
		-webkit-ind-animation: cursor 3200ms infinite;
		animation: cursor 3200ms infinite;

		p {
			font-family: arial, sans-serif;
			color: #000000;
			margin: 0px;
			
		}

		background: #F6F6F6;
	/* 	background-image: url('https://idylladrian.github.io/graphics/index_background.jpg');
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: top;
		background-attachment: fixed; */
		
		image-rendering: pixelated;
		/* overflow: hidden; */
		
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	@-webkit-ind-keyframes cursor {
	  0% {cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;}
	  15% {cursor: url('https://idylladrian.github.io/graphics/pencil-1.gif'), auto;}
	  30% {cursor: url('https://idylladrian.github.io/graphics/pencil-2.gif'), auto;}
	  45% {cursor: url('https://idylladrian.github.io/graphics/pencil-3.gif'), auto;}
	  60% {cursor: url('https://idylladrian.github.io/graphics/pencil-4.gif'), auto;}
	  75% {cursor: url('https://idylladrian.github.io/graphics/pencil-5.gif'), auto;}
	} 

	@keyframes cursor {
	  0% {cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;}
	  15% {cursor: url('https://idylladrian.github.io/graphics/pencil-1.gif'), auto;}
	  30% {cursor: url('https://idylladrian.github.io/graphics/pencil-2.gif'), auto;}
	  45% {cursor: url('https://idylladrian.github.io/graphics/pencil-3.gif'), auto;}
	  60% {cursor: url('https://idylladrian.github.io/graphics/pencil-4.gif'), auto;}
	  75% {cursor: url('https://idylladrian.github.io/graphics/pencil-5.gif'), auto;}
	}

	.loader-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #FFFFFF;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	.loader {
		display: block;
		background-image: url('https://idylladrian.github.io/graphics/frog_loader.gif');
		width: 100px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: 75px;
		animation: loader 0.9s infinite ease;
	}

	@keyframes loader {
		0% { transform: translateX(0px);}
		7% { transform: translateX(-30px);}
		14% { transform: translateX(-50px);}
		21% { transform: translateX(-80px);}
		28% { transform: translateX(-110px);}
		35% { transform: translateX(-120px);}
		42% { transform: translateX(-130px);}
		49% { transform: translateX(-140px);}
		56% { transform: translateX(-150px);}
		63% { transform: translateX(-150px);}
		70% { transform: translateX(-150px);}
		77% { transform: translateX(-150px);}
		84% { transform: translateX(-150px);}
		91% { transform: translateX(-60px);}
		100% { transform: translateX(0px);}
	}

	.info-card {
		float: right;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #F6F6F6;
		width: 300px;
		margin: 10px;
	}

	#header {
		display: none;
		position: absolute;
		top: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100px;
		width: 100%;
		background: #F6F6F6;
	}

	#left {
		position: absolute;
		padding: 25px;
		left: 0px;
		top: 0px;
		width: 200px;
		height: 100%;
		background: #F6F6F6;
	}
	#blog-body {
		top: 0px;
		padding: 20px;
		margin-top: 100px;
		margin-left: 250px;
		margin-right: 50px;
		background: white;
		
		border-style: solid;
		border-width: 1px;
		border-color: #42d1f5;
	}

	#in-progress {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: #ffb5ea;
	}

	#sprite {
		position: absolute;
		margin-left: 50%;
	}

	#progress-header {
		height: 45%;
	}
}

@media screen 
and (min-width: 300px)
and (max-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 1) {
	#blog-post {
		h1 {
			font-family: Times New Roman, serif;
			font-weight: normal;
			font-size: 40px;
			color: #000000; 
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
		h2 {
			font-family: Times New Roman, serif;
			color: #000000;
			font-weight: normal;
			font-size: 30px;
		}
		
		cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;
		-webkit-ind-animation: cursor 3200ms infinite;
		animation: cursor 3200ms infinite;

		p {
			font-family: arial, sans-serif;
			color: #000000;
			margin: 0px;
			
		}

		background: #F6F6F6;
	/* 	background-image: url('https://idylladrian.github.io/graphics/index_background.jpg');
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: top;
		background-attachment: fixed; */
		
		image-rendering: pixelated;
		/* overflow: hidden; */
		
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	@-webkit-ind-keyframes cursor {
	  0% {cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;}
	  15% {cursor: url('https://idylladrian.github.io/graphics/pencil-1.gif'), auto;}
	  30% {cursor: url('https://idylladrian.github.io/graphics/pencil-2.gif'), auto;}
	  45% {cursor: url('https://idylladrian.github.io/graphics/pencil-3.gif'), auto;}
	  60% {cursor: url('https://idylladrian.github.io/graphics/pencil-4.gif'), auto;}
	  75% {cursor: url('https://idylladrian.github.io/graphics/pencil-5.gif'), auto;}
	} 

	@keyframes cursor {
	  0% {cursor: url('https://idylladrian.github.io/graphics/pencil-0.gif'), auto;}
	  15% {cursor: url('https://idylladrian.github.io/graphics/pencil-1.gif'), auto;}
	  30% {cursor: url('https://idylladrian.github.io/graphics/pencil-2.gif'), auto;}
	  45% {cursor: url('https://idylladrian.github.io/graphics/pencil-3.gif'), auto;}
	  60% {cursor: url('https://idylladrian.github.io/graphics/pencil-4.gif'), auto;}
	  75% {cursor: url('https://idylladrian.github.io/graphics/pencil-5.gif'), auto;}
	}

	.loader-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #FFFFFF;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	.loader {
		display: block;
		background-image: url('https://idylladrian.github.io/graphics/frog_loader.gif');
		width: 100px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: 75px;
		animation: loader 0.9s infinite ease;
	}

	@keyframes loader {
		0% { transform: translateX(0px);}
		7% { transform: translateX(-30px);}
		14% { transform: translateX(-50px);}
		21% { transform: translateX(-80px);}
		28% { transform: translateX(-110px);}
		35% { transform: translateX(-120px);}
		42% { transform: translateX(-130px);}
		49% { transform: translateX(-140px);}
		56% { transform: translateX(-150px);}
		63% { transform: translateX(-150px);}
		70% { transform: translateX(-150px);}
		77% { transform: translateX(-150px);}
		84% { transform: translateX(-150px);}
		91% { transform: translateX(-60px);}
		100% { transform: translateX(0px);}
	}

	.info-card {
		/* float: right; */
		position: static;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #F6F6F6;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	#header {
		position: absolute;
		top: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 200px;
		width: 100%;
		background: #F6F6F6;
	}

	#left {
		display: none;
		position: absolute;
		padding: 25px;
		left: 0px;
		top: 0px;
		width: 200px;
		height: 100%;
		background: #F6F6F6;
	}
	#blog-body {
		top: 0px;
		padding: 20px;
		margin-top: 200px;
		margin-left: 25px;
		margin-right: 25px;
		background: white;
		border-style: solid;
		border-width: 1px;
		border-color: #42d1f5;
	}

	#in-progress {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: #ffb5ea;
	}

	#sprite {
		position: absolute;
		margin-left: 50%;
	}

	#progress-header {
		height: 45%;
	}
}