body {
	background: #00018E;
	background-image: url('https://idylladrian.github.io/graphics/temp/bluesky.jpg');
	background-size: 1200px 675px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-attachment: fixed;
	
	image-rendering: pixelated;
	
}
